extends layout

block content
  h1 OpenTube
  if ids.length == 0
    h2 There are no videos!
    a(href='')
  .videoContainer
    .videoGrid 
      if ids.length > 0
        each id in ids
          a(href="/video/"+id)
            img(width='300', src="/thumbnails/"+id+'_1.jpg')
            p= database.getVideoMeta(id).name
