extends layout

block content
  h1 OpenTube
  if ids.length == 0
    h2 There are no videos!
    a(href='/upload') Upload some
  .videoContainer
    .videoGrid 
      if ids.length > 0
        each id in ids
          if database.getVideoMeta(id) != null
            a(href="/video/"+id).video
              img(height='200', src="/thumbnails/"+id+'_1.jpg', style="border: 3px solid #000000;")
              p.videoText= database.getVideoMeta(id).name
