doctype html
html
  head
    title OpenTube
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .nav.background
        a(href="/").nav.title
          h2 OpenTube
        a(href="/upload").nav.item
          h3 Upload
    .content
      block content