extends layout

block content
    div(style="text-align: left; margin-left: 4%")
        video(controls='', width='80%')
            source(src="/videos/"+id+'.mp4')
        h1= name
        p= description
